header {
    width: 100%;
    background-color: #f5a60d;
    color: #fff;
}

.header h2 {
    padding: 10px 0px 10px 25px;
}

.viewport {
    /* padding-left: 250px; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* height: 100vh; */
    font-family: Roboto, "Noto Sans JP", sans-serif;
    display: flex;
    background-color: #ebf0f6;
    /* margin-top: 65px; */
}

#content {
    width: 84%;
    /* position: relative; */
    margin-right: 0;
    /* padding-top: 15px; */
    background-color: #ebf0f6;
    padding-bottom: 50px;
    /* height: 100vh; */
    margin-left: 16%;
    height: 100vh;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    height: 100vh;
    /* left: 250px; */
    width: 16%;
    /* margin-left: -250px; */
    /* overflow-y: auto; */
    background: #182226;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    left: 0;
}

#sidebar .nav-bar {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#sidebar .nav-bar li {
    display: flex;
    padding: 2px 0;
}

#sidebar .nav-bar a {
    background: #1f2d33;
    font-size: 14px;
    padding: 10px 24px;
    width: 100%;
    letter-spacing: 0px;
    color: #b8c7ce;
}

#sidebar .nav-bar a.active {
    border-left: 4px solid #0090e2;
}

#sidebar .nav-bar a:hover {
    background: none;
    color: #eceff1;
}

.image-index-dashboard {
    width: 100px;
    height: 100px;
    object-fit: unset;
}
.ck-editor__editable_inline {
    height: 300px;
}

.box-create-content {
    padding-top: 20px;
    background: #fff;
    box-shadow: 2px 2px 5px #333;
}
.header-create-content {
    font-size: 23px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 20px;
    color: #333;
}
